@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../fonts/fonts.css";

/* aboreto-regular - latin */
@font-face {
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aboreto-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("../fonts/aboreto-v2-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/aboreto-v2-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/aboreto-v2-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("../fonts/aboreto-v2-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/aboreto-v2-latin-regular.svg#Aboreto") format("svg"); /* Legacy iOS */
}

body {
  font-family: Aboreto;
  background-color: #fcfaf9;
  color: #4c4343;
}
